{% extends "layout.html" %}
{% set active_page = "materi" %}

{% block title %}Semua Materi | Quithon{% endblock %}

{% block content %}

<div class="container col-xxl-8 px-4 py-5" id="custom-cards">
    <h1 class="display-5 fw-bold">Dasar Python: Pengertian Bahasa Pemrograman Python</h1>

    <div class="row align-items-stretch g-4 py-5">
        <div class="col">
            <p class="lh-lg" style="text-align: justify">Python adalah salah satu bahasa pemrograman yang dapat melakukan eksekusi sejumlah instruksi multi guna secara langsung (interpretatif) dengan metode orientasi objek (Object Oriented Programming) serta menggunakan semantik dinamis untuk memberikan tingkat keterbacaan syntax. Sebagian lain mengartikan Python sebagai bahasa yang kemampuan, menggabungkan kapabilitas, dan sintaksis kode yang sangat jelas, dan juga dilengkapi dengan fungsionalitas pustaka standar yang besar serta komprehensif. Walaupun Python tergolong bahasa pemrograman dengan level tinggi, nyatanya Python dirancang sedemikian rupa agar mudah dipelajari dan dipahami.</p>

            <p class="lh-lg" style="text-align: justify">Python sendiri menampilkan fitur-fitur menarik sehingga layak untuk Anda pelajari. Pertama, Python memiliki tata bahasa dan script yang sangat mudah untuk dipelajari. Python juga memiliki sistem pengelolaan data dan memori otomatis. Selain itu modul pada Python selalu diupdate. Ditambah lagi, Python juga memiliki banyak fasilitas pendukung. Python banyak diaplikasikan pada berbagai sistem operasi seperti Linux, Microsoft Windows, Mac OS, Android, Symbian OS, Amiga, Palm dan lain-lain.</p>
        </div>
    </div>

</div>

{% endblock %}